<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p th:text="${'id: ' + book.getId()}"></p>
    <p th:text="${'title: ' + book.getTitle()}"></p>
    <p th:text="${'author: ' + book.getAuthor()}"></p>
    <p th:text="${'publication year: ' + book.getPubYear()}"></p>
    <p th:text="${'inventory number: ' + book.getInvNr()}"></p>
    <p th:if="${owner != null}">
      owner:
      <a
        th:href="@{/person/{id}(id=${owner.getId()})}"
        th:text="${' ' + owner.getFirstName() + ' ' + owner.getLastName}"
      ></a>
    </p>
    <div th:if="${people != null}">
      <form th:action="@{/book/{id}/assign(id=${book.getId()})}" th:method="PATCH">
        <label for="people">Choose a person to assign</label>
        <select name="selectedPerson" id="people">
          <option value="" disabled selected>Select a person</option>
          <option th:each="person : ${people}" th:value="${person}" th:text="${person.getFirstName() + ' ' + person.getLastName()}"></option>
        </select>
        <button type="submit">Asiign</button>
      </form>
    </div>
    <br>
    <div th:if="${people == null}">
      <form th:method="PATCH" th:action="@{/book/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release book" />
      </form>
    </div>
    <form th:action="@{/book/edit/{id}(id=${book.getId()})}">
      <input type="submit" value="Edit book" />
    </form>
    <form th:method="DELETE" th:action="@{/book/{id}(id=${book.getId()})}">
      <input type="submit" value="Delete book" />
    </form>
    <form action="/book">
      <input type="submit" value="Show all books" />
    </form>
  </body>
</html>
