<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/book/{id}(id=${book.getId()})}" th:object="${book}">
        <input type="hidden" th:field="*{id}">
        <label for="title">Book title:</label>
        <input type="text" th:field="*{title}" id="title">
        <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Book title error</div>
        <br>
        <label for="author">Book author:</label>
        <input type="text" th:field="*{author}" id="author">
        <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author name error</div>
        <br>
        <label for="pubYear">Publication year:</label>
        <input type="text" th:field="*{pubYear}" id="pubYear">
        <div style="color:red" th:if="${#fields.hasErrors('pubYear')}" th:errors="*{pubYear}">Publication year error</div>
        <br>
        <label for="invNumber">Inventoty number:</label>
        <input type="text" th:field="*{invNumber}" id="invNumber">
        <div style="color:red" th:if="${#fields.hasErrors('invNumber')}" th:errors="*{invNumber}">Inventory number error</div>
        <br>
        <input type="submit" value="Save">
    </form> 
</body>
</html>