<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
        <input type="hidden" th:field="*{id}">
        <label for="firstName">First name:</label>
        <input type="text" th:field="*{firstName}" id="firstName">
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name error</div>
        <br>
        <label for="lastName">Last name:</label>
        <input type="text" th:field="*{lastName}" id="lastName">
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</div>
        <br>
        <label for="birthYear">Birth year:</label>
        <input type="text" th:field="*{birthYear}" id="birthyear">
        <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Birth year error</div>
        <br>
        <label for="passportNr">Passport number:</label>
        <input type="text" th:field="*{passportNr}" id="passportNr">
        <div style="color:red" th:if="${#fields.hasErrors('passportNr')}" th:errors="*{passportNr}">Email error</div>
        <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>